html, body {
    color: #444;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Unica One', cursive;
    background-color: #17263c !important;
  }

.nopadding [class*="col-"] {
    padding: 1;
}

.navbarU{
    width: 100%;
    height: 60px; 
    background-color:  #d59563;
}

.map-MenuS{
    font-family: 'Unica One', cursive;
    font-size: 16px;
    color: #875053;
    text-align: center;
}


.districI{
    
  border: 10px solid #3EC483;
  background: #3D837E;
  height: 100px;
  width: 200px;
  padding: 10px;
  margin: 10px;

}


#map {
       height: 800px;
        width: 100%;
        border-left:10px solid #d59563;
    }
       
       
       
       
.boxRoute {
    width: 100%; 
    margin-right:40px;
    
}
.boxRoutetitle { 
    background-color: #32578D; 
    padding: 20px 20px 30px 20px; 
    border: 1px 
    solid #32578D; 
    font-size: 10px;
    color: #17263C; 
    text-align: center; 
    font-weight: 400; 
    letter-spacing: 1px;  
    
}
.boxRoutetext { 
    margin-top: 20px; 
    height: 70px; 
    background-color: #072B60;
    padding: 30px 30px 10px 30px;  
    
}

.boxRouteicons { 
    margin-left: center; 
    text-align: center; 
    margin-top: -20px; 
    
}

.circleI { 
    height: 40px; 
    width: 40px; 
    border-radius: 50%; 
    padding: 8px; 
    float: left; 
    margin-left: 16px; 
    background-color: #2C2B3C; 
    border: 
    solid 1px #2C2B3C; 
}


.boxWel { 
     width: 100%; 
    margin-right:40px;
    
}

.boxWelimg { 
    margin-left: 22px; 
    margin-top: -60px; 
    width: 60px; 
    height: 60px; 
    padding: 8px; 
    border-radius: 50%;
    background-color: #2C2B3C;
}

.boxWel1a { 
    height: 80px; 
    background-color: #072B60; 
    padding: 20px; 
    border: 1px solid #072B60; 
    
}

.boxWel2 { 
    padding: 20px;  
    width: 100%; ; 
    height: 9px; 
    background-color: #32578D; 
    border: 1px, solid #072B60; 
}



#radios label {
	cursor: pointer;
	position: relative;
      margin-left: -14px;
    margin-top: -6px;
}

#radios label + label {
	margin-left: 15px;
}

input[type="radio"] {
	opacity: 0; 
	position: absolute;
}

input[type="radio"] + span {
	font-family: 'Material Icons';
	color: #B3CEFB;
	border-radius: 50%;
	padding: 12px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

input[type="radio"]:checked + span {
	color: #D9E7FD;
  background-color: #4285F4;
}

input[type="radio"]:focus + span {
	color: #fff;
}


#radios label:hover::before {
	content: attr(for);
	font-family: Roboto, -apple-system, sans-serif;
	text-transform: capitalize;
	font-size: 11px;
	position: absolute;
	top: 170%;
	left: 0;
	right: 0;
	opacity: 0.75;
	background-color: #323232;
	color: #fff;	
	padding: 4px;
	border-radius: 3px;
  display: block;
}

#radios {
	text-align: center;
}







       
  
       

    